 <div class="user-details">
  <h1> My Skills </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>HTLM5, CSS, Bootstrap. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-django-plain colored"></i>
      <p>C++, Python, C#, Django (for backend development).</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Qt, Unity 3D Framework, Git, Linux, Windows, WordPress</p>
    </div>
</div>
