<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Chat Demo" src="{{ "/assets/img/chat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> A TCP Multi-Client Chat Application </h3>
    <h4> Featured Skills / Tools</h4>
    <ul>
      <li> C++</li>
      <li> TCP Socket programming in C++</li>
    </ul>
    <p>
      This simple program features a TCP server that allows multi-threaded connection of multiple clients at the same time. Each client can send to 
      and receive messages from other clients connected to the server. In simpler words, this is a simple demo program of a group chat room.
    </p>
    <p>I learned a lot about TCP socket programming by working on this project.</p>    
    <a class="project-link" href="#">Source Code on Github</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Phonebook App" src="{{ "/assets/img/contact.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> A Desktop Phonebook Application </h3>
    <h4> Featured Skills / Tools</h4>
    <ul>
      <li> C++</li>
      <li> Qt 5.14</li>
    </ul>
<p>
I built a desktop phonebook application to step up my networking game. Using this application, I can send personalized emails to all my contacts at the same time. 
I can launch a Skype call with any of my contacts at the click of a button, and I can keep track of important stuff like where they work and when they got their last promotion.
</p>   
<a class="project-link" href="https://youtu.be/KF8k1OjzmOI">Watch Demo on YouTube</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Phonebook App" src="{{ "#" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> A C++ std::vector Class </h3>
    <h4> Featured Skills / Tools</h4>
    <ul>
      <li> C++</li>
      <li> Data Structures </li>
      <li>Algorithms</li>
    </ul>
<p>
I implemented my own std::vector class to further understand data structures and algorithms. I called the class 'bucket' because I can't call it vector now, can I? :) Like all my other projects, I did it for learning and for fun.

</p>   
<a class="project-link" href="https://github.com/delivite/vector">Source Code on Github</a>
  </div>
</div>
